
.container
  .row
    .col-md-2
      %img{src: image_url("golf-tee.jpeg"), style: "width: 100%"}
    .col-md-10
      %h1= @club.name

  %br
  - if flash[:create]
    .alert.alert-warning= flash[:create]
  - if flash[:destroy]
    .alert.alert-danger= flash[:destroy]

  %table.table.table-bordered
    %thead
      %tr
        %th Time Slot
        %th Booking
    %tbody
      - @time_slots.each do |time|
        %tr
          %td= pretty_time(time)
          %td
            - current_booking = @club_bookings.find_by(time: time, club_id: @club.id)
            - if current_booking
              - if current_booking.user_id == @user.id
                = link_to "Cancel Booking", booking_path(current_booking), method: :delete, class: "btn btn-danger"
              - else
                %p Booked by other Golfer
            - else
              = simple_form_for(Booking.new) do |f|
                = f.hidden_field :user_id, value: @user.id
                = f.hidden_field :club_id, value: @club.id
                = f.hidden_field :date, value: @current_date
                = f.hidden_field :time, value: time
                = f.submit "Book time", class: "btn btn-info"



 
